@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./font/Gilroy-Semibold.woff2');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
	scroll-behavior: smooth;
    font-weight: 400;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.header__logo {
    display: flex;
    padding-top: 40px;
    margin-bottom: 84px;
    
       
}

.header__menu {
    display: flex;
    gap: 23px;
    margin: 51px 95px 50px 500px;
    font-family: 'Gilroy-Semibold';
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

.header__link {
    color: #000;
    font-size: 14px;
}

.header__link1 {
    color: #F25822;
    font-size: 14px;
}

.header__link4 {
    color: #000;
    font-size: 14px;
}

.select {
    border: 0;
    color: #000;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.top__content {
    display: flex;
    justify-content: space-between;
    
}

.top__info {
    max-width: 522px
    /* margin-left: 375px;
    margin-top: 84px; */
}

.title {
    font-family: 'Gilroy-Bold';
    color: #000;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 17px;
}

.text {
    font-family: 'Gilroy-Medium';
    color: #888;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 37px;
    max-width: 466px;
}

.top__button {
    font-family: 'Gilroy-Bold';
    display: flex;
    gap: 72px;
}

.button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);

    color: #FFF;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.sub__button {
    border: none;
    background: none;
    color: #AAA;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding-top: 259px;
}
