@media (max-width: 1024px) and (min-width: 768px) {

    .header {
        height: 74px;
    }

    .icon {
        gap: 41px;
    }

    .d7 {
        padding-bottom: 19px;
    }

    .header__menu {        
        gap: 25px;
    }

    .cart {
        gap: 42px;
    }




    .brend {
        margin-left: 32px;
    }
    
    .title {
        font-size: 44px;
    }
    
    .subtitle {
        font-size: 24px;
    }



    .blocks {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 168px 116px;
        gap: 20px;
        margin: 65px 16px 110px;
    }

    .content {
        margin-bottom: 24px;
    }

    .goods {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 24px 16px 24px;
    }

    

}